@font-face {
    font-family: poppins;
    src: url(poppins.woff);
}
*{ 
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    
    #header{
    box-sizing: border-box; 
    height: 150px; 
    padding: 2rem; 
    display: flex;   
    align-items: center;
    justify-content: space-between;
    background: #1ca0d1;
    
    }
    
    #menu {
    display: flex;
    list-style: none;
    gap: .3rem; 
    }
    
    #menu a{
    padding: .5rem;
    text-decoration: none;
    color: rgb(235, 235, 235);
    font-size: 20px;
    display: block;
    }
    
    #btn-mobile-sobre{
    display: none;
    color: whitesmoke;
    }
    
 @media screen and (max-width: 600px){
    #menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        top: 140px;
        right: 0px;
        background:#1ca0d1;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }    
    #nav-sobre.active #menu{
        height: 40vh; /*ate onde o menu desce na página*/
        visibility: visible;
    }
    #menu a{
        padding: 3rem 0;
        margin: 0 5rem;
    }
    #btn-mobile-sobre{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer-sobre{
        display: block;
        border-top: 2px solid;
        width: 20px;
        color: whitesmoke;
    }
    #hamburguer-sobre::after , #hamburguer-sobre::before{
        content: '' ;
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav-sobre.active #hamburguer-sobre{
        border-top-color: transparent;        
    }
    #nav-sobre.active #hamburguer-sobre::before{
        transform: rotate(135deg);
    }
    #nav-sobre.active #hamburguer-sobre::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}


body{
    background: white;
    text-align: justify;
}
.container{
    display: grid;
    grid-template-areas:
    "text1 img1"
    "text2 text2"
    "img2 text3"
    "text4 text4"
    "text5 text5"
    "img3 text6"
    "text7 text7"
    "footer footer";
    grid-gap: 20px;
    padding: 0px 20px 0px 20px;
    margin-top: 50px;
}
.titulo-centro{
    text-align: center;
    margin: 6px;
    font-size: 25px;
}
.text1{
    grid-area: "text1";
}
.img1{
    width: 100%;
    border-radius: 3%;
    grid-area: "img1";
}
.text2{
    background: #e4c2a5;
    padding: 10px;
    grid-area: "text2";
    grid-column: text2;
}
.img2{
    width: 100%;
    border-radius: 3%;
    grid-area: "img2";
}
.text3{
    grid-area: "text3";
    grid-column: text3;
}

.text4{
    grid-area: "text4";
    grid-column: text4;
    padding: 10px;
    background: #db7778;
}

.text5{
    grid-area: "text5";
    grid-column: text5;
    padding: 10px;
    background: #1e6c84;
}
.img3{
    width: 70%;
    margin-left: 50px;
    border-radius: 3%;
    grid-area: "img3";
}
.text6{
    grid-area: "text6";
    grid-column: text6;
}
.text7{
    background: #aaa89b;
    grid-area: "text7";
    grid-column: text7;
    padding: 10px;
}

footer {
    background-color: #1ca0d1;
    color: black;
    font-size: 0.7em;
    padding: 1em 0;
    text-align: center;
    grid-area: "footer";
    grid-column: footer;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
}

.contato {
    margin: 1em auto 0;
    max-width: 80vw;
    text-align: center;
}

.contato-aluna {
    margin-bottom: 1em;
}

.contato .nome-aluna {
    text-decoration: underline;
    font-size: 1.5em;
}

.contato-aluna a {
    font-size: 1.3em;
}

@media screen and (max-width: 520px){ /*celular menores 520px/600px=telas menores*/
    .container{
        display: grid;
        grid-template-areas:
        "text1"
        "img1"
        "text2"
        "img2"
        "text3"
        "text4"
        "text5"
        "img3"
        "text6"
        "text7"
        "footer";
    }

}