body , ul{ 
    margin: 0px;
    padding: 0px;
}

a{
    color: rgb(235, 235, 235); 
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header{
    box-sizing: border-box; 
    height: 120px; 
    padding: 2rem; 
    display: flex;   
    align-items: center;
    justify-content: space-between;
    background: #1ca0d1;
    
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem; 
}

#menu a{
    padding: 5rem;
}


.filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}


.select{
    width: 150px;
    height: 28px;
    font-size: 15px;
    color: #EEF3F3;
    border: 2px solid #828ed18e;
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(161, 162, 247, 0.37);
    background: #5757ee7c;
    margin-top: 18px;
}

input{
    display: flex;
    width: 220px;
    height: 30px;
    font-size: 15px;
    color: #000000;
    background: #f0e7e7;
    border: 2px solid #939296;
    box-sizing: border-box;
    border-radius: 50px;
    margin-top: 20px;
    text-align: center;
    align-items: center;

}



.results{
    height: 6vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1em;
    color: #52105f;
    font-weight: 500;
}




.cardArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px 49px 10px; 
}

.card{
    width: 215px;
    height: 365px;
    margin: 10px 25px;
    transition: transform 0.8s;
    transform-style: preserve-3d
}

.flip:hover .card{
    transform: rotateY(175deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.front{
    padding: 10px;
    border-radius: 20px;
    background: #f09f88;
    box-shadow: 10px 7px 20px rgba(117, 4, 61, 0.39);
}
.back{
    padding: 10px;
    border-radius: 20px;
    background: #f09f88;
    box-shadow: 10px 7px 20px rgba(117, 4, 61, 0.39);
    transform: rotateY(180deg);
}

.image{
    width: 100%;
    height:285px;
    border-radius: 20px;
    background-size: cover;
}


.text{
    padding-top: 3px;
    text-align: center;
    text-justify: center;
    
}
.textBack{
    padding: 15px 0px;
    text-align: center;
    line-height: 12px;
    background-color:rgba(238, 243, 243, 0.1);
    border-radius: 35px;
    height: 100%;
}     
.title{
    font-size: 16px;
    font-weight: bold;
    color: #250314;
    padding-bottom: 3px;
}
.ano{
    font-size: 14px;
    font-weight: lighter;
    font-style: italic;
    color: #250314;
    padding-bottom: 3px;
}
